.about {
  padding: 100px 0;
}
.about ul {
  list-style-type: none;
  padding-top: 10px;
}
.about ul li {
  padding: 3px 0;
  font-size: 14px;
}
.about .small__container .btn {
  background-color: tomato;
  margin-top: 20px;
}

@media screen and (max-width: 320px) {
  .about .col__2 img {
    width: 200px;
  }
}
