.testimonial {
  margin: 100px 0;
}
.title h1 {
  margin: 30px 0;
}
.profile img {
  width: 50px;
  border-radius: 50%;
  padding-right: 10px;
}
.profile {
  padding-bottom: 20px;
}
.customer__name h4 {
  font-weight: 500;
}
.customer__name p {
  color: grey;
  font-size: 15px;
}
.customer__detail {
  color: grey;
  font-size: 15px;
  line-height: 1.5;
}
.testimonial .row {
  margin-top: 50px;
}
.testimonial .col__2 {
  padding-bottom: 50px;
}
.testimonial ul li {
  color: gold;
}
