.listing {
  margin: 50px 0;
  background: #fff6;
}
.listing .small__container .col__3 img {
  width: 100%;
}
.listing h2 {
  margin: 20px 0 0 0;
  font-size: 18px;
}
.col__hover .tag {
  padding: 10px;
}
.col__hover {
  transition: 0.5s;
}
.col__hover:hover {
  transform: translateX(25px);
  background-color: #000;
  color: #fff !important;
  padding-right: 20px;
}

/*RESPONSIVE*/

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .col__hover .col__3 {
    width: 100%;
  }
}
