.news {
  margin: 100px 0;
}
.news .col__3 h4 {
  line-height: 1.5;
}
.news .col__3 {
  padding: 10px;
}
.news .col__3 img {
  width: 100%;
  padding-bottom: 5px;
}
.news .col__3 .call__details {
  padding: 10px 0;
}

.news .col__3 .call__details img {
  width: 20px;
}
